*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.colorBg{
    background-color:  rgb(95, 95, 95);
    color: white;
}
.bg{
    background-color: black;
    color: white;
}
.containerDark{
    background-color: #3C3939;
    height: 95vh;
    border: solid 2px black;
    border-radius: 15px;
    box-shadow: -4px -3px 45px 21px rgba(255, 255, 255, 0.35);
}
.ecranDark{
    background-color: rgba(15, 15, 15, 0.781);
}
.clearElement{
    background-color: #F2B6B6;
}
.body{
    background-color: white;
}
.containerLight{
    background-color: #ECECEC;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}
.ecranLight{
    background-color: white;
    color: black !important;
    
}
.btnOperationLight{
    background-color: #B6B4B4 !important;
    color:rgb(0, 0, 0) !important;
}
.btnNumberLight{
    background-color: rgb(255, 255, 255) !important;
    color:rgb(0, 0, 0) !important;
}

button{
    border: 0;
}
.display{
    display: none;
}
#mode{
    background: none;
    margin-right: auto;
}

